.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 .5em;
    background-color: var(--bg-card-color);
    max-width: 1600px;
    margin: auto;
}

@media screen and (min-width:781px) {
    .header{
        padding: 0 1.5em;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}

.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 130px;
    gap: 1em;
    border-radius: var(--border-radius);
    transition: var(--transition);
    border: 1px solid var(--bg-color);
}

.toggle-theme:hover{
    background-color: var(--bg-color);
}

.toggle-theme__icon{
    width: 20px;
    margin: 0;
    font-size: 1.5em;
    display: block;
}

.toggle-theme__text{
    font-size: .8em;
    margin: 0;
}

/* * Flags -------------------------- */

.flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.flags img{
    opacity: .7;
    cursor: pointer;
}

.flags img:hover{
    opacity: 1;
}

/* * change colors -------------------------- */

.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 120px;
}

.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    opacity: .7;
}

.colors__item:hover{
    opacity: 1;
}

.colors_item--red{--primary-color: hsl(2, 84%, 56%);}
.colors_item--orange{--primary-color: hsl(24, 84%, 56%);}
.colors_item--yellow{--primary-color: hsl(46, 84%, 56%);}
.colors_item--blue{--primary-color: hsl(214, 84%, 56%);}
.colors_item--green{--primary-color: hsl(150, 84%, 56%);}
.colors_item--purple{--primary-color: hsl(278, 84%, 56%);}

/* * h1 - Mesasge -------------------------- */

.h1{
    position: absolute;
    top: 5em;
    left: -1px;
    width: 100%;
    max-width: 500px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 1.2em;
    padding: 1em;
    z-index: 10;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    transform: translate(-100%);
    animation: h1 ease 5s forwards;
    animation-delay: 2s;
    visibility: hidden;
    opacity: 0;
}

@keyframes h1 {
    0%{}
    20%, 80%{
        transform: translate(0);
        visibility: visible;
        opacity: 1;
    }
    100%{}
}