:root{
    --primary-color: hsl(278, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --border-radius: .4em;
}

*{
    box-sizing: border-box;;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

img{
    width: 100%;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}

/* * dark theme -------------------------- */

body.dark{
    --text-color: hsl(0, 0%, 83%); 
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}

/*
* * -------------------------------------
        header
* * -------------------------------------
*/


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
}

.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon{
    margin-right: .5em;
    width: 20px;
}

.toggle-theme__text{
    font-size: .8em;
}

/* * change colors -------------------------- */

.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 120px;
}

.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors_item--red{--primary-color: hsl(2, 84%, 56%);}
.colors_item--orange{--primary-color: hsl(24, 84%, 56%);}
.colors_item--yellow{--primary-color: hsl(46, 84%, 56%);}
.colors_item--blue{--primary-color: hsl(214, 84%, 56%);}
.colors_item--green{--primary-color: hsl(150, 84%, 56%);}
.colors_item--purple{--primary-color: hsl(278, 84%, 56%);}


/*
* * -------------------------------------
        main
* * -------------------------------------
*/

.main{
    display: grid;
    padding: 1em;
}


@media screen and (min-width:720px) {
    .main{
        grid-template-columns: min-content 1fr;
    }
}

/* * cards -------------------------- */

.card{
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}


/* * card perfil -------------------------- */

.card__image-container{
    min-width: 320px;
    border-radius: var(--border-radius);
    max-height: 420px;
    max-width: 420px;
    overflow: hidden;
}

.card__img-perfil{
    object-position: 0 -50px;
}

.card__header{
    padding: 1em 0;
}

.card__title{
    margin: 0;
    font-size: 1.2em;
}

.card__subtitle{
    opacity: .8;
}

.card__link{
    margin: 0 0 .5em .5em;
}

.card__text{
    font-size: .9em;
    opacity: .6;
    line-height: 1.5em;
    margin-top: 2em;
}